:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --white-text-color: #fff;
  --black-text-color: #000;
  --active-button-color: #188ce8;
  --header-frame-color: #ececec;
  --examples-frame-color: #eee;
  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --bg-hero-footer-color: #2f303a;
  --bg-main-color: #fff;
  --bg-secondary-color: #f5f4fa;
  --bg-third-color: rgba(47, 48, 58, 0.8);
  --bg-fourth-color: rgba(33, 150, 243, 0.9);
  --bg-backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-close-button-border: rgba(0, 0, 0, 0.1);
  --modal-input-border: rgba(33, 33, 33, 0.2);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
  --subscription-input-border: rgba(255, 255, 255, 0.3);
  --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

html {
  overflow: auto;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--bg-main-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.socials__link {
  transition: color var(--transition-duration-function), background-color var(--transition-duration-function);
}

.backdrop {
  padding: 94px 15px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 300;
  visibility: visible;
  opacity: 1;
  overflow: auto;
  background-color: var(--bg-backdrop-color);
  transition: opacity var(--transition-duration-function), visibility var(--transition-duration-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  padding: 10px;
  min-width: 200px;
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: color var(--transition-duration-function), background-color var(--transition-duration-function);
}

.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: var(--active-button-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
@media (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}
.filter__button {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: color var(--transition-duration-function), background-color var(--transition-duration-function), box-shadow var(--transition-duration-function);
}
.filter__button:hover, .filter__button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.mobile-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 200;
}
@media (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}
.mobile-button__icon {
  fill: var(--title-text-color);
}
.mobile-button__icon:hover, .mobile-button__icon:focus {
  fill: var(--accent-color);
}
.mobile-button.is-open .mobile-button__icon-open {
  display: none;
}
.mobile-button__icon-close {
  display: none;
}
.mobile-button.is-open .mobile-button__icon-close {
  display: block;
}

.modal {
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  overflow: auto;
  transform: scale(1);
  transition: transform var(--transition-duration-function);
  background: var(--bg-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 768px) {
  .modal {
    position: absolute;
    height: 100%;
    max-height: 610px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 582px;
  }
}
.backdrop.is-hidden .modal {
  transform: scale(0.8);
}
@media (min-width: 768px) {
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
.modal__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  color: var(--black-text-color);
  background-color: var(--bg-main-color);
  border: 1px solid var(--modal-close-button-border);
  transition: color var(--transition-duration-function);
}
.modal__close-button:hover, .modal__close-button:focus {
  color: var(--accent-color);
}
.modal__icon-close {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.order-form__title {
  margin-bottom: 12px;
  line-height: 1.5;
}
.order-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.order-form__field-textarea {
  margin-bottom: 20px;
}
.order-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.order-form__input {
  height: 40px;
  padding: 0 0 0 42px;
  font-size: 16px;
  letter-spacing: 0.01em;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  color: var(--title-text-color);
  transition: border-color var(--transition-duration-function);
}
@media (min-width: 1200px) {
  .order-form__input {
    font-size: 14px;
  }
}
.order-form__input:focus, .order-form__input:hover {
  outline: none;
  border-color: var(--accent-color);
}
.order-form__input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  transition: fill var(--transition-duration-function);
}
.order-form__input:not(:-moz-placeholder-shown) + .order-form__input-icon {
  fill: var(--accent-color);
}
.order-form__input:not(:-ms-input-placeholder) + .order-form__input-icon {
  fill: var(--accent-color);
}
.order-form__input:focus + .order-form__input-icon, .order-form__input:hover + .order-form__input-icon, .order-form__input:not(:placeholder-shown) + .order-form__input-icon {
  fill: var(--accent-color);
}
.order-form__textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  font-size: 16px;
  letter-spacing: 0.01em;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  color: var(--title-text-color);
  transition: border-color var(--transition-duration-function);
}
@media (min-width: 1200px) {
  .order-form__textarea {
    font-size: 14px;
  }
}
.order-form__textarea::-moz-placeholder {
  color: var(--modal-placeholder-color);
}
.order-form__textarea:-ms-input-placeholder {
  color: var(--modal-placeholder-color);
}
.order-form__textarea::placeholder {
  color: var(--modal-placeholder-color);
}
.order-form__textarea:focus, .order-form__textarea:hover {
  outline: none;
  border-color: var(--accent-color);
}
.order-form__checkbox-field {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-left: 24px;
}
@media (min-width: 1200px) {
  .order-form__checkbox-field {
    padding-left: 36px;
  }
}
.order-form__checkbox-label {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  line-height: 1.16;
}
@media (min-width: 1200px) {
  .order-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}
.order-form__checkbox {
  top: calc(50% + 7px);
  left: 21px;
}
.order-form__checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition: opacity var(--transition-duration-function);
}
@media (min-width: 1200px) {
  .order-form__checkbox-icon {
    left: 12px;
  }
}
.order-form__checkbox-icon-unchecked {
  opacity: 1;
}
.order-form__checkbox:focus-visible ~ .order-form__checkbox-icon-unchecked {
  outline-offset: 2px;
  outline: 2px solid var(--black-text-color);
  border-radius: 1px;
}
.order-form__checkbox-icon-checked {
  opacity: 0;
}
.order-form__checkbox:checked ~ .order-form__checkbox-icon-checked {
  opacity: 1;
}
.order-form__checkbox-link {
  display: inline-block;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  color: var(--accent-color);
}
.order-form__submit-button {
  display: block;
  margin: 0 auto;
}

.subscribe__title {
  display: inline-block;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .subscribe__inner {
    display: flex;
    gap: 12px;
  }
}
.subscribe__input {
  width: 100%;
  padding: 15px 16px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid var(--subscription-input-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-text-color);
  transition: border-color var(--transition-duration-function);
}
@media (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.subscribe__input:not(:-moz-placeholder-shown) {
  outline: none;
  border-color: var(--accent-color);
}
.subscribe__input:not(:-ms-input-placeholder) {
  outline: none;
  border-color: var(--accent-color);
}
.subscribe__input:hover, .subscribe__input:focus, .subscribe__input:not(:placeholder-shown) {
  outline: none;
  border-color: var(--accent-color);
}
.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: end;
  gap: 10px;
}
@media (max-width: 1199px) {
  .subscribe__button {
    margin: 0 auto;
  }
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  transition: color var(--transition-duration-function);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--black-text-color);
}
.logo__accent {
  color: var(--accent-color);
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  text-decoration: none;
  font-style: normal;
  border-radius: 50%;
  color: var(--icon-color);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.socials__link--dark-bgc {
  color: var(--white-text-color);
  background-color: var(--icon-bg-color);
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
@media (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
  }
}
.title--middle {
  font-size: 20px;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .title--middle {
    line-height: 1.15;
  }
}
.title--small {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.title--small-white {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.customer__title {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .customer__title {
    margin-bottom: 50px;
  }
}
.customer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-decoration: none;
  font-style: normal;
  color: inherit;
}
.customer__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media (min-width: 768px) {
  .customer__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media (min-width: 1200px) {
  .customer__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.customer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  text-decoration: none;
  font-style: normal;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color var(--transition-duration-function), border-color var(--transition-duration-function);
}
.customer__link:hover, .customer__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.customer__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__list {
  line-height: 1.71;
}
@media (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
.features__text {
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .features__item:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.features__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--bg-secondary-color);
}
.features__icon {
  width: 70px;
  height: 70px;
}

.footer {
  padding: 60px 0;
  background-color: var(--bg-hero-footer-color);
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
@media (max-width: 1199px) {
  .footer__inner {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__inner {
    padding: 0 80px;
  }
}
@media (min-width: 1200px) {
  .footer__inner {
    align-items: baseline;
    gap: 70px;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-text-color);
}
.footer__adress {
  display: flex;
  gap: 9px;
  flex-direction: column;
  justify-content: center;
}
.footer__street {
  display: block;
  margin-bottom: 0px;
  color: var(--white-text-color);
  line-height: 1.71;
}
.footer__contact {
  display: block;
  color: var(--third-text-color);
  line-height: 1.71;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__social-group {
    margin-left: auto;
  }
}
.footer__social-title {
  display: inline-block;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .footer__subscribe-group {
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .footer__subscribe-group {
    margin-left: auto;
  }
}

.header {
  border-bottom: 1px solid var(--header-frame-color);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header__inner {
    height: 60px;
  }
}
@media (min-width: 768px) {
  .header__inner {
    align-items: baseline;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
@media (min-width: 768px) {
  .header__mobile-menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .header__mobile-menu {
    display: none;
    z-index: 100;
  }
  .header__mobile-menu.is-open {
    display: flex;
    flex-direction: column;
    gap: 64px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow-y: scroll;
    padding: 48px 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    background-color: var(--bg-main-color);
  }
  .header__mobile-menu.is-open::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
}
@media (max-width: 767px) {
  .header__navigation {
    margin-bottom: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__navigation {
    margin: 0 auto;
  }
}
.header__nav-list {
  display: flex;
}
@media (max-width: 767px) {
  .header__nav-list {
    flex-direction: column;
    gap: 32px;
  }
}
@media (min-width: 768px) {
  .header__nav-list {
    align-items: center;
  }
  .header__nav-list > li:not(:last-child) {
    margin-right: 50px;
  }
}
.header__nav-link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  color: var(--title-text-color);
}
.header__nav-link--current {
  color: var(--accent-color);
}
@media (min-width: 768px) {
  .header__nav-link {
    display: flex;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
  .header__nav-link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
.header__contact-group {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
}
@media (min-width: 768px) {
  .header__contact-group {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .header__contact-group {
    flex-direction: row;
    gap: 0px;
  }
}
.header__contact {
  font-size: 24px;
  line-height: 1.16px;
}
@media (max-width: 767px) {
  .header__contact:last-child {
    color: var(--accent-color);
  }
}
@media (max-width: 767px) and (min-width: 377px) {
  .header__contact:last-child:last-child {
    font-size: 34px;
    line-height: 1.18;
  }
}
@media (min-width: 768px) {
  .header__contact {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media (min-width: 1200px) {
  .header__contact {
    font-size: 14px;
    line-height: 1.14;
  }
  .header__contact:not(:last-of-type) {
    margin-right: 50px;
    padding: 32px 0;
  }
}
@media (max-width: 767px) {
  .header__contact-icon {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__contact-icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .header__contact:first-child .header__contact-icon {
    width: 14px;
    height: 10px;
  }
  .header__contact:last-child .header__contact-icon {
    width: 10px;
    height: 14px;
  }
}
@media (min-width: 1200px) {
  .header__contact:first-child .header__contact-icon {
    width: 16px;
    height: 12px;
  }
  .header__contact:last-child .header__contact-icon {
    width: 10px;
    height: 16px;
  }
}
@media (min-width: 768px) {
  .header__social-group {
    display: none;
  }
}
.header__socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}
.header__social-item:not(:last-of-type) {
  padding-right: 10px;
  border-right: 1px solid var(--modal-input-border);
}

.hero {
  margin: 0 auto;
  padding: 118px 0;
  max-width: 480px;
  height: 400px;
  text-align: center;
  background-color: var(--bg-hero-footer-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-480.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-480@2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-768.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-768@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-1600.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-1600@2x.jpg);
  }
}
.hero__title {
  margin: 0 auto 30px;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.portfolio {
  font-size: 16px;
  line-height: 1.87;
}
.portfolio__filter {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .portfolio__filter {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .portfolio__list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}
.portfolio__card {
  margin-bottom: 30px;
  transition: box-shadow var(--transition-duration-function);
}
.portfolio__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media (min-width: 768px) {
  .portfolio__card {
    display: flex;
    flex-direction: column;
    margin: 15px;
    flex-basis: calc(50% - 30px);
  }
}
@media (min-width: 1200px) {
  .portfolio__card {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
  max-height: 294px;
  max-width: 450px;
}
@media (min-width: 480px) {
  .portfolio__thumb {
    height: 294px;
  }
}
.portfolio__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 24px;
  background-color: var(--bg-fourth-color);
  opacity: 0;
  transition: transform var(--transition-duration-function), opacity var(--transition-duration-function);
}
.portfolio__card:hover .portfolio__description {
  transform: translateY(-100%);
  opacity: 1;
}
.portfolio__text {
  max-height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
}
.portfolio__content {
  flex-grow: 1;
  padding: 20px 23px 19px;
  border-left: 1px solid var(--examples-frame-color);
  border-right: 1px solid var(--examples-frame-color);
  border-bottom: 1px solid var(--examples-frame-color);
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
  color: var(--title-text-color);
}
.portfolio__type {
  margin-bottom: 0;
}

.tasks {
  padding-top: 0px;
}
@media (max-width: 1199px) {
  .tasks {
    display: none;
  }
}
.tasks__title {
  margin-bottom: 50px;
}
.tasks__list {
  display: flex;
  gap: 30px;
}
.tasks__item {
  position: relative;
}
.tasks__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: var(--bg-third-color);
}

.team {
  position: relative;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  background-color: var(--bg-secondary-color);
}
.team__title {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.team__card {
  background-color: var(--bg-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 768px) {
  .team__card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .team__card {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media (min-width: 480px) {
  .team__thumb {
    max-width: 450px;
    height: 460px;
  }
}
@media (min-width: 768px) {
  .team__thumb {
    height: 374px;
  }
}
@media (min-width: 1200px) {
  .team__thumb {
    height: 260px;
  }
}
.team__content {
  padding: 30px 10px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
.team__position {
  margin-bottom: 0;
}
.team__socials {
  margin-top: 16px;
}/*# sourceMappingURL=main.css.map */