.button {
  padding: 10px;
  min-width: 200px;
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: color var(--transition-duration-function),
    background-color var(--transition-duration-function);
}

.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: var(--active-button-color);
}
