.modal {
  position: absolute;

  padding: 40px;
  width: 100%;
  max-width: 450px;
  overflow: auto;
  transition: transform var(--transition-duration-function);

  background: var(--bg-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  // позиционирование
  top: 0;
  left: 0;
  bottom: 0;
  transform: scale(1);

  @include for-phone-up {
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%) scale(1);
  }

  @include for-phone-up {
    @media (max-height: 630px) {
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) scale(1);
    }
  }

  @include for-desktop-up {
    max-width: 528px;
  }

  .backdrop.is-hidden & {
    transform: scale(0.8);

    @include for-phone-up {
      transform: translate(-50%, -50%) scale(0.8);
    }

    @include for-phone-up {
      @media (max-height: 639px) {
        transform: translateX(-50%) scale(0.8);
      }
    }
  }

  &__close-button {
    @extend %center-flex;
    position: absolute;
    top: 8px;
    right: 8px;
    @include w-h(30, 30);
    border-radius: 50%;
    padding: 0;

    cursor: pointer;
    color: var(--black-text-color);
    background-color: var(--bg-main-color);
    border: 1px solid var(--modal-close-button-border);
    transition: color var(--transition-duration-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon-close {
    @include w-h(18, 18);
    fill: currentColor;
  }
}
