.socials {
  @extend %center-flex-content;
  gap: 10px;
  list-style: none;
  padding-left: 0;
  margin: 0;

  &__link {
    @extend %center-flex;
    @include w-h(44, 44);

    text-decoration: none;
    font-style: normal;
    border-radius: 50%;
    color: var(--icon-color);

    @extend %transition-color-bgc;

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--white-text-color);
    }

    &--dark-bgc {
      color: var(--white-text-color);
      background-color: var(--icon-bg-color);
    }
  }
  &__icon {
    @include w-h(20, 20);
    fill: currentColor;
  }
}
