.customer {
  &__title {
    margin-bottom: 30px;

    @include for-desktop-up {
      margin-bottom: 50px;
    }
  }

  &__list {
    margin: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    text-decoration: none;
    font-style: normal;
    color: inherit;
  }

  &__item {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);

    @include for-tablet-up {
      flex-basis: calc(100% / 3 - 30px);
    }

    @include for-desktop-up {
      flex-basis: calc(100% / 6 - 30px);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 170px;
    height: 92px;

    text-decoration: none;
    font-style: normal;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: color var(--transition-duration-function),
      border-color var(--transition-duration-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
