.features {
  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include for-tablet-up {
    }
    @include for-desktop-up {
      // line-height: 1.71;
    }
  }

  &__text {
    margin-bottom: 0px;
  }

  &__item {
    @include for-desktop-up {
      max-width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--bg-secondary-color);

    @include for-desktop-up {
      width: 270px;
    }
  }

  &__icon {
    @include w-h(70, 70);

    // width: 70px;
    // height: 70px;
  }
}
