.features {
  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @include for-tablet-up {
      text-align: left;
    }
  }

  &__list {
    line-height: 1.71;

    @include for-tablet-up {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }

  &__text {
    margin-bottom: 0px;
  }

  &__item {
    @include for-phone-only {
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }

    @include for-tablet-up {
      flex-basis: calc((100% - 1 * 30px) / 2);
    }

    @include for-desktop-up {
      flex-basis: calc((100% - 3 * 30px) / 4);
    }
  }

  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--bg-secondary-color);
  }

  &__icon {
    width: 70px;
    height: 70px;
  }
}
