$hero-image-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

.hero {
  margin: 0 auto;
  padding: 118px 0;
  max-width: 480px;
  height: 400px;
  text-align: center;

  background-color: var(--bg-hero-footer-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: $hero-image-gradient, url(../images/hero-480.jpg);

  @include for-pixel-ratio-2 {
    background-image: $hero-image-gradient, url(../images/hero-480@2x.jpg);
  }

  @include for-tablet-up {
    max-width: 768px;
    height: 400px;
    background-image: $hero-image-gradient, url(../images/hero-768.jpg);

    @include for-pixel-ratio-2 {
      background-image: $hero-image-gradient, url(../images/hero-768@2x.jpg);
    }
  }

  @include for-desktop-up {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-image: $hero-image-gradient, url(../images/hero-1600.jpg);

    @include for-pixel-ratio-2 {
      background-image: $hero-image-gradient, url(../images/hero-1600@2x.jpg);
    }
  }

  &__title {
    margin: 0 auto 30px;
    max-width: 360px;

    font-size: 26px;
    line-height: 1.62;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);

    @include for-desktop-up {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
